$header-gradient-start: #576efc;
$header-gradient-end: #4041ef;
$time-date-background: rgb(116, 168, 202);
$bot-response-background: rgba(236, 236, 236, 0.3);
$bot-response-text-color: #4a4a4a;
$user-response-background-color: #576efc;
$white-color: #ffffff;
$recommended-text-color: #576efc;
$placeholder-color-input: rgb(155, 155, 155);
$placeholder-color-select: rgb(170, 170, 170);
$bot-image-border: #1b69ab;
$chat-body-background: #ffffff;
$inquiry-time: #74a8ca;
$recommended-tag-border: #ececec;
$recommended-tag-background: #ffffff;
$recommended-tag-background-focus: rgb(247, 247, 247);
$online-color: #7ed321;
$like-active: #2196f3;
$notification-badge-color: #00e68b;
$waiting-icon-background: rgba(236, 236, 236, 0.3);
$waiting-icon-dot: #c4c4c4;
$header-mobile-text-color: #3f42f0;
$notification-badge-color-mobile: #ff5c41;
$dislike-popup-background: #3d56ff;
$notification-header-label: #3539ff;
