/* common css classes for width */
@for $i from 1 through 10 {
  .width#{($i * 10)} {
    width: percentage($i / 10);
  }

  .padding#{($i * 10)} {
    padding: percentage($i / 10);
  }

  .margin#{($i * 10)} {
    margin: percentage($i / 10);
  }
}

@for $i from 1 through 100 {

  .shadow-box-#{$i} {
    width: percentage($i/100);
  }
}
